button{
    width: 300px;
    background-color: transparent;
    border: 4px solid black;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
    margin: 10px 0;
}