html{
    background-image: url('/star-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        margin: 20px 0;
        color: white;
    }
    div{
        display: flex;
        flex-direction: column;
        img{
            min-width: 200px;
            width: 600px;
        }
        small{
            text-align: center;
            padding: 15px 0;
            color: rgb(255, 255, 255);
        }
    }
    p{
        width: 800px;
        margin: 10px 0;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
}
@media only screen and (max-width: 600px) {
    main{
        h2{
            font-size: 1.5rem;
            text-align: center;
        }
        div{
            img{
                width: 80vw;
            }
        }
        P{
            width: 80vw;
            text-align: center;
        }
    }
    
}